body {
    background-image: url(images/nnnn.jpg);
}

.answerDiv {
    background: rgba(255, 255, 255, 0.5);
    margin-right: 2rem;
    transform: translateY(5vh);
}

.questionDiv {
    width: 40em;
    margin-top: 4rem;
    margin-left: 3rem;
    transform: translateY(5vh);
    margin-bottom: 3rem;
    height: 30em;
    background-color: rgba(255, 255, 255, 0.2);
}

.home-div {
    background-image: url(images/home.jpg);
    height: 600em;
}

#form-body {
    background-image: url(images/2020-money-heist-ei.jpg);
    background-repeat: no-repeat;
    width: 50rem;
}

#signup-form {
    background: transparent;
    margin-left: 60rem;
    transform: translateY(50vh);
}

.form-control:not(:placeholder-shown) {
    background-color: #cf4154!important;
}

.form-control:placeholder-shown {
    background-color: #cf4154!important;
}

.form-control::placeholder {
    color: black;
    /* opacity: 1; */
}

#logodiv1 {
    margin-left: 3rem;
}

#logodiv2 {
    margin-left: 32rem;
}

@media (max-width:1443px) {
    .questionDiv {
        width: 30em;
        height: 20em;
    }
}